.App-header {
  background-color: #f5f7fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
section {
  display: flex;
  flex-direction: row;
  border: solid #e9eff2 2px;
}

@media (max-width: 826px) {
  section {
    flex-direction: column;
  }
}
